$green: #329239;
$GS100: #F7F6FB;
$GS200: #F1F2F6;
$GS300: #D1D5DE;
$GS350: #ADB0B5;
$GS400: #666A73;
$GS500: #454A4E;
$GS550: #363B41;
$GS600: #292B37;

// snackbar colors
$snackbar-success: #2E7D31;
$snackbar-error: #E53835;
$snackbar-warning: #FBC02D;