@use './variables' as var;


h1 {
    color: var.$GS550;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 115.87%; /* 23.174px */
}

.divider-screen {
    width: auto;
    height: 1px;
    margin: 0 144px;
    margin-top: 31px;
    margin-bottom: 19px;
    background: var.$GS300;
}

.divider-tab {
    width: 90%;
    margin: auto;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var.$GS300;
}


.line-accent {
    width: 72px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: -5px;
    background: var.$green;
}

.blur-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(41, 43, 55, 0.50);
    filter: blur(2px);
    z-index: 2;
}

.x {
    cursor: pointer;
    background: none;
    border: none;
}