@use '/src/utilities/variables' as var;

.profile {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 431px;
    height: 100%;
    background-color: var.$GS100;
    z-index: 3;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 390px;
    height: 100%;

}

.profile-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    img {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
}