.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(367px, 1fr));
    gap: 26px;
    margin: 0 144px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    
}