@use '/src/utilities/variables' as var;

.event-card {
    width: 367px;
    height: 210px;
    margin: 13px;
}

.event-card-image {
    width: 100%;
    height: 131px;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.event-card-container {
    width: 100%;
    display: flex;
}

.event-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    width: 50%;

    h3 {
        color: var.$GS600;
        font-family: Helvetica;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -15px;
    }

    p {
        font-family: Helvetica;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: -15px;
    }
}

.event-card-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 100%;

    button {
        width: 100px;
        height: 30px;
        margin: auto;
        background-color: var.$GS600;
        color: var.$GS100;
        border: none;
        border-radius: 5px;
        font-family: Helvetica;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }

}