@use '/src/utilities/variables' as var;

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 136px;
    background-color: var.$GS600;
    color: var.$GS100;
    margin-top: 200px;
    text-decoration: none;

    
    .footer-container {
        display: flex;
        width: 100%;
        margin-left: 180px;
        margin-right: 180px;

        .divider {
            width: 100%;
            height: 1px;
            margin-top: 80px;
            margin-bottom: 19px;
            background: var.$GS100;
        }
                

        img {
            width: 100px;
            height: 100px;
        }
    }
}


