@use '/src/utilities/variables' as var;

.search-bar {
    display: flex;
    width: 800px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var.$GS300;
    background: var.$GS200;
    align-items: center;
    margin: 21px auto;
}

.search-bar-text {

    margin-left: 28px;
    width: 80%;
    margin-right: 20px;
    
    input {
        color: var.$GS400;
        font-family: Helvetica;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 115.87%;
        width: 100%;
        border: none;
        background: none;
    }

    input::placeholder {
        color: var.$GS350;
    }

    input:focus {
        outline: none;
    }

}

.search-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-radius: 10px;
    background: var.$green;
    width: 102px;
    height: 44px;
    margin-right: 6px;
    cursor: pointer;

    button {
        color: var.$GS100;
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        background: none;
        cursor: pointer;
    }
}

@media (max-width: 768px) { 
    .search-bar {
        width: 90%;
        padding: 0 12px; 
    }

    .search-bar-text {
        margin-right: 8px; 
    }

    .search-bar-button {
        width: 90px; 
        height: 40px; 
    }

    button {
        font-size: 13px; 
    }
}