@use '/src/utilities/variables' as var;

.text-button {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 90%;
    height: 51px;
    background-color: var.$green;
    color: var.$GS100;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}