@use '/src/utilities/variables' as var;

.cart {
    display: flex;
    right: 0;
    position: fixed;
    top:0;
    right:0;
    flex-direction: column;
    width: 431px;
    height: 100%;
    background-color: var.$GS100;
    z-index: 53;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 390px;
    height: 100%;

}

.cart-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;

}

.cart-footer {
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background: var.$GS100;
    box-shadow: 0px -4px 10px 0px var(--DropShadow, rgba(41, 43, 55, 0.20));


}

.cart-footer-text {
    margin-top: 10px;
    h1 {
        color: var.$GS600;
        font-family: Helvetica;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    display: flex;
    width: 100%;

    .total {
        margin-right: auto;
        margin-left: 20px;
        width: 50%;
    }

    .amount {
        display: flex;
        text-align: right;
        margin-right: 40px;
        margin-left: 0px;
        width: 20%;

        img {
            margin: 0 10px;
        }
    }
}