@use '/src/utilities/variables' as var;


.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 417px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.banner-text {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;

    position: absolute;
    margin-top: 200px;
    margin-left: 143px;

    h1 {
        color: var.$GS100;
        font-family: Helvetica;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: -10px;
    }

    h3 {
        color: var.$GS100;
        font-family: Helvetica;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    button {
        margin-top: -5px;
        width: 108px;
        border-radius: 10px;
        color: var.$GS100;
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        background: var.$green;
        padding: 10px;
        cursor: pointer;
    }

}

@media (max-width: 768px) {
    .banner {
        height: 250px; 
    }

    .banner-text {
        margin-top: 120px; 
        margin-left: 20px; 

        h1 {
            font-size: 24px; 
        }

        h3 {
            font-size: 16px;
        }

        button {
            width: 90px; 
            font-size: 13px; 
            padding: 8px; 
        }
    }
}