.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 144px;
    margin-right: 144px;
    width: auto;
}

.search-page {
	min-height: 100vh; /* Ensure the height is at least 100vh */
	display: flex;
	flex-direction: column; /* Make sure the content is stacked vertically */
  }
  

.center-text {
	text-align: center;
  }