@use '/src/utilities/variables' as var;

.navbar {
    display: flex;
    align-items: center;
    color: var.$green;
    background-color: var.$green;
    width: 100%;
    height: 68px;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    width: 100%;
    margin-left: 180px;
    margin-right: 180px;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin-left: 150px;

    a {
        color: var.$GS100;
        text-decoration: none;
        font-family: Helvetica;
        font-size: 15px;
        margin-left: 20px;
    }
}

.navbar-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin-right: 0px;
    margin-left: auto;
}

.navbar-button {
    display: flex;
    color: var.$GS100;
    border: none;
    text-decoration: none;
    margin-left: auto; 
    margin-right: 0;

    img {
        width: 24px;
        height: 24px;
    }

    button {
        border: none;
        background-color: transparent;
        font-family: Helvetica;
        outline: none;
        font-size: 16px;
        color: var.$GS100;
    }


}
